.header {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: black;
  color: white;
}

.buttonTab {
  padding: 0.65rem 0.75rem;
  border: none;
  cursor: pointer;
  color: white;
  background: none;
}
